@font-face {
    font-family: Mazzard;
    src: url("../fonts/MazzardH-Regular.woff") format("woff"),
        url("../fonts/MazzardH-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: MazzardMedium;
    src: url("../fonts/MazzardH-Medium.woff") format("woff"),
    url("../fonts/MazzardH-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: MazzardBold;
    src: url("../fonts/MazzardH-SemiBold.woff") format("woff"),
    url("../fonts/MazzardH-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@keyframes blur {
    0%   {
        filter: blur(51px);
    }
    50%  {
        filter: blur(20px);
    }
    100% {
        filter: blur(51px);
    }
}

@keyframes rotate {
    25%   {
        transform: rotateY(0deg);
    }
    50%   {
        transform: rotateY(180deg);
    }
    75%   {
        transform: rotateY(0deg);
    }
}

:root {
    --border-color: #7DCC40;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    margin: 0;
    font-family: Mazzard, sans-serif;
    font-size: 12pt;
    padding-bottom: 8rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

video {
    width: 300px;
}

.logo img {
    width: 7rem;
}

.menu {
    padding-top: .5rem;
}

.menu a {
    margin-left: 1rem;
    font-size: .9rem;
}

.viewport {
    width: 990px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.head-block {
    display: flex;
    justify-content: space-between;
}

.head-block-bottom {
    align-items: flex-end;
}

.top-text {
    margin-top: 6rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.divider {
    width: 80px;
    height: 5px;
    background-color: red;
    border-radius: 4px;
    margin: 5rem auto 10rem;
}


.top-text .description {
    font-size: 1.2rem;
}

.top-text .title {
    margin: 0;
    font-size: 2.8rem;
}

.logo-circle {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.logo-circle::before {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.38);
    content: "";
    position: absolute;
    z-index: 1;
}

.logo-circle::after {
    width: 120px;
    height: 120px;
    position: absolute;
    background: #30A61C;
    content: "";

    border-radius: 50%;
    filter: blur(51px);
    animation: blur 8s infinite;
}

.logo-circle img {
    width: 41%;
    animation: rotate 5s infinite;
    animation-timing-function: linear;
    position: relative;
    z-index: 2;
}

.top-text-actions {
    width: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.btn-green {
    background: rgba(125, 204, 64, 0.7);
}

.btn-green:hover {
    background: rgba(125, 204, 64, 0.9);
}

.btn-grey {
    background: rgba(255, 255, 255, 0.22);
}

.btn-grey:hover {
    background: rgba(255, 255, 255, .5);
}

.btn {
    border-radius: 9px;
    color: #FFFFFF;
    padding: 1rem;
    border: none;
    cursor: pointer;
    width: 106px;
    flex-grow: 0;
    flex-shrink: 0;
}

.btn + .btn {
    margin-left: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.title {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.green {
    color: #7DCC40;
}

.graphics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5rem;
}

.dots-left {
    margin-left: -4.8rem;
    margin-right: -4.8rem;
    position: relative;
    z-index: 1;
}

.dots-right {
    margin-left: -6.6rem;
    margin-right: -2.7rem;
    position: relative;
    z-index: 1;
}

.planet {
    width: 460px;
    height: 426px;
}

.tree {
    width: 248px;
    height: 311px;
}

.description {
    margin-top: 0;
}

.description.with-padding {
    padding: 0 6rem;
}

.movement {
    display: flex;
    justify-content: space-between;
}

.movement img {
    margin-top: -27px;
    width: 490px;
    flex-grow: 0;
    flex-shrink: 0;
}

.movement .title-small {
    margin-top: 3rem;
}

.title-small {
    line-height: 34pt;
}

.roadmap {
    position: relative;
    padding-top: 4rem;
}

.roadmap-text {
    position: relative;
    z-index: 1;
}

.roadmap-block {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
}

.q {
    width: 172px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MazzardBold, sans-serif;
    padding-top: .3rem;
    color: #7DCC40;
    flex-shrink: 0;
    flex-grow: 0;
}

.q2 {
    margin-top: 2rem;
}

.q3 {
    margin-top: 10rem;
}

.q4 {
    margin-top: 9rem;
}

.q5 {
    margin-top: 12rem;
    justify-content: flex-start;
}

.roadmap-tree {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.block-description {
    font-size: .9rem;
    max-width: 350px;
    flex-shrink: 0;
    flex-grow: 0;
}

.block-description p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5rem;
}

.check {
    position: relative;
}

.check::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url(../images/checkmark.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: -1.7em;
    top: 0.2em;
}

.tokenomics {
    margin-top: 11rem;
    margin-bottom: 4rem;
}

.tokenomics-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.t-block {
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.t-block p {
    font-size: .8rem;
}

.t-block + .t-block:not(:nth-child(4)) {
    margin-left: 15rem;
}

.t-title {
    margin: 1rem 0;
}

.t-block img {
    width: 35px;
}

.t-block:hover {
    border-color: #7DCC40;
}

.t-block p {
    margin: 0;
}

.t-block1 p + p {
    margin-top: .8rem;
}

.t-block2 p + p {
    margin-top: .7rem;
}

.t-block1 {
    margin-right: 3.5rem;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.t-block2 {
    padding-right: 5rem;
    font-size: 1.1rem;
}

.bold {
    font-family: MazzardBold, sans-serif;
}

.htb-body {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: left;
}

.orange {
    color: #FF9900;
}

.purple {
    color: #7645D9;
}

.purple-border-color {
    --border-color: #7645D9;
}

.htb-block {
    width: 258px;
    height: 153px;
    border: 2px dashed;
    border-radius: 11px;
    padding: 0 1.4rem;
    font-size: .9rem;
    position: relative;
    margin-right: 2rem;
}

.htb-block:nth-child(3n) {
    margin-right: 0;
}

.htb-block:nth-child(3n+1)::before, .htb-block:not(:last-child)::after {
    display: block;
    content: "";
    width: 52px;
    height: 52px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: calc(50% - 26px);
    z-index: 1;
}

.htb-block:not(:last-child)::after {
    right: -45px;
}

.htb-block:nth-child(3n+1)::before {
    left: -41px;
}

.htb-block:first-child::before {
    display: none;
}

.hide {
    display: none;
}

.htb-block:nth-child(n+4) {
    margin-top: 3rem;
}

.menu-burger, .menu-close {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 64px;
    margin-right: 10px;
}

.dots-vertical {
    display: none;
}

.team {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.team-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.t-member {
    width: 170px;
    text-align: center;
}

.t-member .profile {
    width: 100%;
    border-radius: 50%;
}

.t-member-name {
    font-size: 1.2rem;
    margin-top: .5rem;
}

.t-member-title {
    font-size: .9rem;
    margin-top: .5rem;
}

.in {
    width: 20px;
    margin-top: .5rem;
}

.social-desktop {
    width: 100%;
    border-bottom: 1px solid #455162;
    margin-bottom: 0.7rem;
}

.social-desktop-body {
    width: 990px;
    margin: 0 auto;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
    padding: .5rem 0;
}

.social-desktop-body a:not(:last-child) {
    margin-right: 1rem;
}

.social-desktop-body a {
    line-height: 0;
}

.social-desktop-body img {
    width: 1rem;
}

.social {
    display: none;
    margin-top: 4rem;
}

.social-body {
    margin-top: 2rem;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.scroll {
    background-color: #7DCC40;
    width: 15px;
    height: 15px;
    padding: 5px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 2;
    transition: .3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.scroll img {
    width: 100%;
    height: 100%;
}

.roadmap-mobile {
    display: none;
}

.countdown {
    text-align: center;
    margin: 3rem 0;
}

.countdown-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.countdown-title .title-part1 {
    font-size: 2.5rem;
    border-right: 1px solid;
    padding-right: 1rem;
}

.countdown-title .title-part2 {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.time {
    color: white;
    display: flex;
    justify-content: center;
}

.time-block {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    border-right: 1px solid;
    width: 123px;
}

.time-block:last-child {
    border: none;
}

.time-caption {
    font-size: 1rem;
}

.contract {
    display: flex;
    justify-content: center;
}

.contract-copy {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.progress {
    position: absolute;
    width: calc(100% - 80px);
    bottom: -20px;
    text-align: center;
    height: 20px;
    overflow: hidden;
    line-height: 1.5rem;
    font-size: .8rem;
    background-color: rgba(125, 204, 64, 0.58);
    border-radius: 0 0 4px 4px;
    color: black;
}

.progress-filled {
    position: absolute;
    background-color: #7DCC40;
    height: 100%;
    border-radius: 0 0 4px 4px;
}

.input-label {
    color: white;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    font-size: .8rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.contract-copy input {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1rem .5rem 1rem 0;
    width: 100%;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contract-copy button {
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    width: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}

.contract-copy button:hover {
    background-color: var(--border-color);
    color: black;
}

.about-us {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wide {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc((100vw - 990px)/2);
    padding-right: calc((100vw - 990px)/2);
}

.background-white {
    background: white;
}

.background-dark {
    background-image: url(../images/network.svg), linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 2%,  #215479 15.46%, #000305 100%);
    background-size: contain, 100%;
    background-repeat: no-repeat;
    background-position: center, 0 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.numbers-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    font-family: MazzardBold,sans-serif;
    font-size: 2rem;
    min-width: 4rem;
    text-align: center;
}

.number-title {
    margin-top: 1rem;
    color: #7DCC40;
    font-family: MazzardBold, sans-serif;
}

.listings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.listings a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.listings a:first-child {
    justify-content: flex-start;
}

.listings a:last-child {
    justify-content: flex-end;
}

.listings img {
    width: 50%;
}

.calc-table {
    display: flex;
}

@media screen and (max-width: 990px) {
    .head-block {
        display: block;
    }

    .calc-table {
        display: block;
    }

    .hide {
        display: none;
    }

    .listings {
        display: block;
    }

    .listings a:first-child {
        justify-content: center;
    }

    .listings a:last-child {
        justify-content: center;
    }

    .listings a {
        margin: 0 auto;
        width: 80%;
        margin-top: 2rem;
    }

    .number {
        font-size: 1rem;
    }

    .numbers-block {
        flex: 1 1 0;
    }

    .number-title {
        font-size: .8rem;
    }

    .background-dark {
        background-size: 350%, 100%;
    }

    .social {
        display: block;
    }

    .social-desktop {
        display: none;
    }

    body {
        background-size: contain, auto 140vh;
    }
    .display-block {
        display: flex !important;
    }

    .display-none {
        display: none !important;
    }

    .viewport {
        width: initial;
        padding: 0 1rem;
        overflow: hidden;
    }

    .head {
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding-top: 3rem;
    }

    .menu-burger {
        display: block;
    }

    .menu {
        display: none;
        flex-flow: column;
        width: 100%;
        text-align: center;
    }

    .menu a {
        margin: 0;
        padding: .8rem 0;
    }

    .menu a:hover, .menu a:active {
        text-decoration: none;
    }

    .title {
        font-size: 1.5rem;
        text-align: center;
    }

    .dots-left, .dots-right {
        display: none;
    }

    .graphics-container {
        flex-flow: column;
        align-items: center;
        margin-left: 0;
    }

    .dots-vertical {
        display: block;
        margin-top: -7vw;
        margin-bottom: -8vw;
        position: relative;
        z-index: 1;
    }

    .roadmap {
        display: none;
    }

    .roadmap-tree {
        display: none;
    }

    .movement {
        display: block;
    }

    .movement img {
        width: 100%;
        margin-top: 1rem;
    }

    .htb-body {
        flex-direction: column;
    }

    .tokenomics-body {
        display: block;
    }

    .t-block {
        margin: 0 auto !important;
    }

    .t-block + .t-block {
        margin-top: 2rem !important;
    }

    .coin {
        width: 50%;
    }

    .planet {
        width: 50%;
        height: auto;
    }

    .tree {
        width: 50%;
        height: auto;
    }

    .description {
        font-size: .8rem;
        text-align: center;
    }

    p {
        line-height: 1.5rem;
    }

    .description.with-padding {
        padding: 0;
    }

    .top-text {
        margin-top: 2rem;
        display: block;
    }

    .top-text .title {
        font-size: 1.5rem;
    }

    .top-text .description {
        font-size: 1rem;
    }

    .top-text-actions {
        width: auto;
        margin-top: 3rem;
    }

    .top-text-text {
        padding: 0 1rem;
    }

    .movement {
        margin-top: 1rem;
    }

    .title-small {
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
    }

    .about-us {
        margin-bottom: 2rem;
    }

    .mb2 {
        margin-bottom: 1rem;
    }

    .roadmap {
        margin-top: 0;
    }

    .q {
        margin-bottom: 1rem;
    }

    .roadmap-block {
        margin-top: 1rem;
        width: initial;
        position: relative;
        display: block;
        padding: 0;
    }

    .tokenomics {
        margin-top: 2rem;
    }

    .tokenomics-body {
        margin-top: 2rem;
        align-items: center;
    }

    .htb-block {
        width: initial;
        height: auto;
        margin-right: 0;
    }

    .htb-body {
        margin-top: 2rem;
    }

    .htb-block:not(:first-child) {
        margin-top: 2rem;
    }

    .htb-block:not(:last-child)::after {
        right: calc(50% - 26px);
        top: initial;
        bottom: -44px;
    }

    .htb-block:nth-child(3n+1)::before {
        display: none;
    }

    .block-description {
        font-size: .8rem;
    }

    .q {
        overflow: hidden;
        justify-content: flex-start;
    }

    .q::after {
        display: block;
        position: absolute;
        width: 200px;
        height: 201px;
        content: "";
        right: -33px;
        top: -8px;
        background-image: url(../images/branch.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .team-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .t-member {
        margin-right: 0;
        margin-top: 3rem;
    }

    .social-body {
        align-items: center;
        width: auto;
        margin-top: 0;
    }

    .social-body a {
        margin-top: 2rem;
    }

    .roadmap-mobile {
        display: block;
    }

    .check {
        margin-left: 1em;
    }

    .countdown .title {
        font-size: 2rem;
    }

    .time-block {
        font-size: 2rem;
        padding: 0 1.5rem;
    }
}