#feature {
  padding-bottom: 5rem;
  padding-top: 3rem;
}

#roadmap {
  background-color: #010123;
}

.text-black {
  color: #010123;
}

.neon {
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 0.5rem);
}
.theme-btn {
  margin: 1rem;
}

#chartdiv {
  width: 100%;
  height: 430px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar-nav .nav-item a::after {
  background: #ffecb2;
}

.scroll-top {
  background: #010123;
}

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate; 
  background: #d41313!important; 
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}
