@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');


.head-slider {
    width: 80%;
  margin :  auto;
  position: relative;
  top :  -30px;
   
}


.swiper {
    width: 100%;
}
.my-swiper-2{
    border-radius: 10px;
}




.head-slide {
    height: 350px !important;
    border: 2px solid black;
    border-radius : 0px !important;
}
@media (max-width: 900px) {
    .head-slider {
        width: 95%;
        margin :  auto;
    } 

    .head-slide{
        height : 400px!important;
    }
}

@media (max-width: 600px) {
    .head-slider {
        width: 95%;
        margin :  auto;
    } 

    .head-slide{
        height : 300px!important;
    }
}
@media (max-width: 400px) {
    .head-slider {
        width: 95%;
        margin :  auto;
        
    } 
    .head-slide{
        height : 230px!important;
    }
}
.swiper-button-next{
    font-size: 24px;
}
.swiper-button-prev{
    font-size: 24px;
}
.swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swipe{
font-family: 'Poppins', sans-serif;
font-size: 14px;
color: white;
margin: 0;
padding: 0px 0;
padding-top: 100px;
background-image: url("../img/bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.swiper {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;


}

.swiper-slide {
background-position: center;
background-size: cover;
max-width: 400px;
height: 500px;
box-shadow: 0 0px 5px #24DDDC;
filter: blur(5px);
border-radius: 10px;

}

.swiper-slide-active {
filter: blur(0px);
opacity: 1;

border: 2px solid #24DDDC;
}

.swiper-slide-active:hover {
box-shadow: 0 0 5px white, 0 0 20px #00fbfb, 0 0px 30px #24DDDC;
}

.swiper-button-next,
.swiper-button-prev {
color: white;
}




.swiper-slide img {
display: block;
width: 100%;
height: 500px;
border-radius: 10px;

}

.swiper-3d .swiper-slide-shadow-left .swiper-slide-shadow-right {
background-image: none;
}

.swiper-pagination-bullet {
width: 10px;
height: 10px;
opacity: 1;
background: rgba(41, 197, 245, 0.2);
}

.swiper-pagination-bullet-active {
background: #24DDDC;
}

.swiper-slide {
background-image: url('../img/fire.png');
text-align: center;
justify-content: center;
align-items: center;

}

.time{
display: none;
width: 100%;
height : 100%;

}
.swiper-slide-active {
background-image: url('../img/fire.gif');

}
.swiper-slide-active .time {
display: block; 

}

a.countdown-timer {
pointer-events: none;
cursor: default;
position: relative;
top: 40%;


}
.active-cases{
background-image: url('../img/card.png');
background-repeat: no-repeat;
background-size: auto;

}
.case-data{
color : #ffffff;
padding : 20px;
margin : 10px;
position: relative;
top : -500px;
text-align: center;
justify-content: center;
align-items: center;
}
.case-title{
font-weight: 500;
padding: 0;
margin : 0 ;
font-size: 32px;
}
.case-data p{
padding : 10px 10px;
}
.head-slide{
    text-align: center;
    font-size: 16px;
    background: rgb(0, 0, 0);
max-width: 100%;

color : white;
height :  400px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border : 5px double aqua;
}

.border{
    border : 2px solid aqua;
}


.slide-1{
    background-image: url('../sliders/1.1.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-x{
    background-image: url('../sliders/emplist.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-2{
    background-image: url('../sliders/2.1.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
 
.slide-3{
    background-image: url('../sliders/slide-3.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

 
.slide-4{
    background-image : url('../sliders/slide-4.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-5{
    background-image : url('../sliders/slide-5.png') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slide-6{
    background-image : url('../sliders/yahoo.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
 
 
 
     